<div class="app">
  <div class="card">
    <h4>IMPORTANT NOTES</h4> 
    <p>You are getting a lot better! Before our next session, be sure to work on remembering the charging techniques and defense.</p>
    <div class="list">
      <app-tasks-item
        *ngFor="let task of tasks; let i = index;"
        [content]="task.text" 
        [completed]="task.completed"
        (toggleEvent)="toggleTask(i)"
        (contentChange)="changeContent(i,$event)">
      </app-tasks-item>
    </div>
    <button 
      class="add-task"
      (click)="addTask()"
      >
       +
    </button>
  </div>
</div>