.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(255, 255, 233);
}

.card {
    position: relative;
    height: 80%;
    width: 350px;
    background-color: rgb(21,20,27);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    h4 {
        font-weight: lighter;
        opacity: 0.5;
        letter-spacing: 0.2em;
        font-size: 0.8em;
        margin: 20px 0;
    }

    p {
        margin-bottom: 20px;
    }

    .list {
        overflow: auto;
    }
}

.add-task {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
    padding: 4px;
    border-radius: 50%;
    background-color: rgba(226, 250, 175, 0.616);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    :hover {
        background-color: rgba(226, 250, 175, 1);
    }
}